<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/bower_components/angular/angular.js"></script>

  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/sweetalert/dist/sweetalert.css">


  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app = 'myApp' ng-controller = 'mainCtrl'>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="gameSquares">

    <button type="button" class="btn btn-primary btn-home" ui-sref ="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>

  </div>
  </div>
</nav>

<div class="container">

<hr>
<ui-view></ui-view>

</div>


</body>
</html>
